https://{{ domain }} {
    bind 0.0.0.0
{% if setup_variant == "pasarguard" %}
  reverse_proxy * unix//run/pasarguard/pasarguard.socket
{% elif setup_variant == "marzban" %}
  reverse_proxy * unix//run/marzban/marzban.socket
{% else %}
  root * /srv
  file_server
{% endif %}
}
http://{{ domain }} {
  bind 0.0.0.0
  redir https://{host}{uri} permanent
}
:4123 {
        bind 127.0.0.1
        tls internal
        respond 204
}
:80 {
        bind 0.0.0.0
        respond 204
}
