SERVICE_PORT = 62050
NODE_HOST = "127.0.0.1"

# use absolute path

# XRAY_EXECUTABLE_PATH = /usr/local/bin/xray
# XRAY_ASSETS_PATH = /usr/local/share/xray

SSL_CERT_FILE = /opt/pasarguard/node/certs/ssl_cert.pem
SSL_KEY_FILE = /opt/pasarguard/node/certs/ssl_key.pem

# api key must be a valid uuid (you can use any version you want)
API_KEY = "{{ PASARGUARD_NODE_API_KEY }}"

### can be rest or grpc
# SERVICE_PROTOCOL = grpc

### for developers
# DEBUG = false
# GENERATED_CONFIG_PATH = /var/lib/pg-node/generated
# CHANNELS_SIZE = 1000
